*{
    margin:  0;
    padding: 0;
}

.content{
    padding:15px;
    border:1px solid #b9b9b9;
    background: #ededed;
}

.menu li{
    display:inline;
    list-style: none;
}

.menu, li, a{
    text-decoration: none;
    color:darkgreen;
    text-align: center;
}